{% extends 'base.html' %}

{% block title %}
  formulario beneficiarios
{% endblock title %}

{% block content %}
<p>Este es un formulario</p>
<div>
  {% for persona in personas %}
    <p>{{persona.cedula}}</p>
  {% endfor %}
</div>

{% endblock content %}

{% if page.has_other_pages %}
  {% if page.has_previous %}
    <a href="{% url 'formulario' %}?page={{ page.previous_page_number }}">
      Prev</a> &nbsp;&nbsp;&nbsp;
  {% endif %}
  {% if page.has_next %}
    <a href="{% url 'formulario' %}?page={{ page.next_page_number }}">
      Next</a>
  {% endif %}
{% endif %}