{% extends 'base.html' %}

{% block title %}
  formulario beneficiarios
{% endblock title %}

{% block content %}
<p>Este es un formulario</p>
<div>
  {% for persona in personas %}
    <p>{{persona.cedula}} - {{ persona.primer_nombre }}</p>
  {% endfor %}
</div>

{% if pagina.has_other_pages %} <!-- Si es que hay mas de una pagina -->
  {% if pagina.has_previous %} <!-- Si existe la pagina anterior, entonces creo un enlace a la pagina anterior -->
    <a href="{% url 'formulario' %}?page={{ pagina.previous_page_number }}" style="text-decoration: None;">
      Anterior</a> &nbsp;&nbsp;&nbsp;
  {% endif %}
  {% if pagina.has_next %} <!-- Si existe la pagina siguiente, entonces creo un enlace a la pagina siguiente -->
    <a href="{% url 'formulario' %}?page={{ pagina.next_page_number }}" style="text-decoration: None;">
      Siguiente</a>
  {% endif %}
{% endif %}

{% endblock content %}